* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  width: 400px;
  flex-direction: column;
  height: 400px;
  /* justify-content: center; */
  align-items: center;
  margin: auto;
  border: 1px solid #000;
  padding: 30px 0;
}

.main input {
  width: 350px;
  height: 100px;
  margin: 0 0 20px 0;
}
.main input::placeholder {
  font-size: 28px;
  padding: 0 5px;
}

.main .func {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main .func button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(87, 85, 85);
  color: #fff;
}
